
<div>
  <div class="dashboard-card-header">Post Show / Follow Up</div>
  <table class="dashboard-table">
    <thead>
      <tr>
        <th>Start</th>
        <th>End</th>
        <th>Event Name</th>
        <th>City / State</th>
        <th>Info</th>
        <th>To Do</th>
        <th>Set $</th>
        <th>PSN</th>
        <th>PSC</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>07/11/25</td><td>07/11/25</td><td>Thompson's Point - Dark Star Orchestra</td><td>Portland, ME</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>07/10/25</td><td>07/12/25</td><td>COTG - SL320 - Father John Misty</td><td>Shelburne, VT</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
      </tr>
      <tr>
        <td>07/10/25</td><td>07/12/25</td><td>Amos Lee at Lake Morey Resort</td><td>Fairlee, VT</td><td>0</td><td>3</td><td>0</td><td>0</td><td>0</td>
      </tr>
    </tbody>
  </table>
</div>
