.popover-container {
  position: fixed;
  z-index: 1050;
  pointer-events: none;
  // Add transform to create a new stacking context
  transform: translate(0, 0);

  &.visible {
    pointer-events: auto;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    z-index: -1;
  }
}